body {
	margin: 0;
	background: #fff0;
	display: flex;
	justify-content: space-around;
}

@font-face {
    font-family: GraublauWeb;
    src: url("AvertaCyrillicRegular.otf") format("opentype");
}

@font-face {
    font-family: GraublauWed;
    src: url("bebas-neue-bold.ttf") format("opentype");
}

@font-face {
    font-family: GraublauWedr;
    src: url("SolomonSansSemiBold.otf") format("opentype");
}

.mainmenu {
	margin-top: 290px;
	background: #f1f1f6;
	width: 700px;
	height: 500px;
	border-radius: 15px;
}

.menu-name {
	margin-top: 15px;
	text-align: center;
	font-family: GraublauWed;
	font-size: 28pt;
	color: #666;
}

.under-name {
	margin: 10px 20px;
	background: #f9e;
	height: 4px;
}

.menu-block {
	display: flex;
	margin-top: 30px;
	width: 600px;
	margin-left: 50px;
	height: 300px;
	justify-content: space-around;
}

.left-block {
	width: 256px;
	height: 256px;
	background: #e1e1e6 url("pizza.png") no-repeat;
	background-size: contain;
	background-position: center center;
	border-radius: 8px;
}

.right-block {
	width: 256px;
	height: 256px;
	background: #e1e1e6 url("burger.png") no-repeat;
	background-size: contain;
	background-position: center center;
	border-radius: 8px;
}

.bottom-block {
	margin-left: 50px;
	display: flex;
	width: 600px;
	justify-content: space-around;
	font-size: 32px;
}

.left-button {
	font-family: GraublauWed;
	text-align: center;
	width: 200px;
	background: #f6d;
	height: 40px;
	line-height: 40px;
	border-radius: 7px;
	box-shadow: 0px 10px 5px #f6e5;
}

.right-button {
	font-family: GraublauWed;
	text-align: center;
	width: 200px;
	background: #f6d;
	height: 40px;
	line-height: 40px;
	border-radius: 7px;
	box-shadow: 0px 10px 5px #f6e5;
}

.left-block:hover {
	background: #d1d1d6 url("pizza.png") no-repeat;
	background-size: contain;
	background-position: center center;
}

.right-block:hover {
	background: #d1d1d6 url("burger.png") no-repeat;
	background-size: contain;
	background-position: center center;
}

.left-button:hover {
	background: #d6b;
	box-shadow: 0px 10px 5px #e6c5;
}

.right-button:hover {
	background: #d6b;
	box-shadow: 0px 10px 5px #e6c5;
}
